---  
---  
@import "minimal-mistakes/style";

/* Global font-size */
body {
  font-size: 0.875rem;
}

/* Heading sizes */
h1, .page-header__title {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}

/* Misc tweaks */
p, li {
  line-height: 1.5;
}
.site-footer {
  font-size: 0.75rem;
}
